@media screen and (max-width: 768px) {
    #hamburger_menu {
        display: block;
    }
    
    nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #D4CDC3;
        flex-direction: column;
        padding: 16px;
    }
    
    #hamburger_checkbox:checked ~ nav {
        display: flex;
    }
    
    nav a {
        text-align: center;
    }

    #main_image {
        width: 100%;
    }
    
}

@media only screen and (max-width: 768px) {
    #hamburger_menu {
        display: block;
    }

    #hamburger_icon {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        gap: 16px;
        background-color: #D4CDC3;
        position: right;
        top: 100%;
        right: 0;
        width: 200px;
        z-index: 999;
        border-radius: 0 8px;
    }

    #hamburger_checkbox:checked ~ nav {
        display: flex;
    }

    nav a {
        padding: 16px;
        font-size: 19px;
        border-radius: 0;
        text-align: center;
    }

    #main_image {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    #hamburger_menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 32px;
        position: static;
        width: auto;
        background: none;
    }

    main {
        display: flex;
    }

    #main_image {
        width: 100%;
    }

    aside {
        align-items: center;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 20%;
    }

    section {
        display: inline;
        float: right;
        width: 70%;
    }

}